.Login{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #733f62;
  }

  .container-login{
    display: flex;
    width: 100%;
    height: auto;
  }

  .container-login-left{
    width: 50%;
    background: #215e5c;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.container-login-title{
  font-size: 20px;
  text-align: left;
}

.container-login-left-content p{
  margin-top:20px;
  font-size: 16px;
  text-align: left;
}

.container-login-left-content{
  padding: 40px;
  background: #fff;
  max-width: 400px;
  min-width: 400px;
  min-height: 400px;
  max-height: 400px;
}
.container-login-right{
  width: 50%;
  height: 100vh;
}

.login_none {
  display: none;    
}

.Login-body-subTitle{
  margin: 0px;
}

.Login-bodyTop{
  width: 100%;
}

.Login-body-error{
  color: red;
  font-size: 12px;
  padding: 0px;
}

  .buttonNewUser {
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: #923a75;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px;
    height: 40px;
    font-size: 16px;
  }

  .buttonNewUser:hover, .Login-body-buttonLogin:hover{
    background-color: #6d2c57;
    text-decoration: none;
    color: white;
  }

  .Login-body-title{
    margin: 0px;
    padding: 20px;
  }

  .Login-body{ 
    color: black;
    background-color: #fff;
    width: 400px;
    height: 400px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  .Login-body-middleForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .Login-body-buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .ButtonDefault{
    width: 40%;
  }

  .Login-body-container{
    width: 100%;
  }

  .login_loading{
    width: 40px;
    margin:0;
  }

  .invalid-password{
    text-align: right;
    width: 80%;
    color: firebrick;
  }
  .Login-body-userInformation, .Login-body-userInformation-1{
    display: flex;
    padding: 5px;
    flex-direction: row;
    align-items: center;
    width: 80%;
  }

  .Login-body-buttonLogin{
    font-size: 16px;
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #3caaa6;
    border: none;
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
  }

  .Login-body-buttonLoginCarregando{
    padding: 0px;
    width: 100%;
    height: 40px;
    background-color: #215e5c;
    border: none;
    color: white;
    text-decoration: none;
  }

@media (max-width: 767px) {
  .container-login{
    flex-direction: column;
  }

  .container-login-left, .container-login-right{
    width: 100%;
  }

  .Login{
    padding: 20px;
  }

  .Login-body{ 
    text-align: center;
    padding: 50px; 
  }

  .Login-body-image{
    height: 100px;
    width: 190px;
    margin-top: 60px;
  }  

  .buttonNewUser{
    width: 90%;
    padding: 10px;
  }

  .ButtonDefault{
    width: 90%;
  }

  .Login-body-userInformation, .Login-body-userInformation-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .Login-body-middleForm {
    margin-top: 10px;
  }

  .Login-body-buttonLogin{
    width: 100%;
    margin-top: 10px;
  }

  .Login-body-buttonLoginCarregando{
    width: 100%;
    margin-top: 10px;
  }

  .Login-body-buttons{
    margin-bottom: 70px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
 
  .Login-body-image{
    height: 100px;
    width: 200px;
    margin-top: 60px;
  }  

  .container-login{
    flex-direction: column;
  }

  .container-login-left, .container-login-right{
    width: 100%;
  }
  
  .Login-body{
    padding: 30px
  }

  .Login-body-userInformation, .Login-body-userInformation-1{
    width: 100%;
  }

  .ButtonDefault{
    width: 90%;
  }

  .buttonNewUser {
    padding: 10px;
    width: 90%;
  }

  .Login-body-buttonLogin{
    width: 100%;
    margin-top: 10px;
  }

  .Login-body-buttonLoginCarregando{
    width: 100%;
    margin-top: 10px;
  }

  .Login-body-buttons{
    margin-bottom: 70px;
  }

 }

 @media (min-width: 992px) and (max-width: 1199px) {

  .Login-body-image{
    height: 120px;
    width: 200px;
  } 
  .Login-body{
    padding: 30px;
    /* width: 50%; */
  }

  .buttonNewUser {
    padding: 10px 20px;
    width: 40%;
  }

  .Login-body-buttons{
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 40px;

  }
}

@media (min-width: 1200px) {

  .Login-body-image{
    height: 120px;
    width: 200px;
  } 
  .Login-body{
    padding: 20px;
    width: 400px;
  }
  
  .buttonNewUser {
    padding: 10px 20px;
    width: 40%;
  }
  .Login-body-buttons{
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 40px;
  }
}
