.newAccount-content{
    margin: 20px auto 20px auto;
    padding: 20px;
    background: white; 
    /* border: solid 5px black; */
    /* border-radius: 20px;  */
    border: none;
}

.newAccount-form{
    padding: 0px 30px 0px 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.invalid-feedback{
    text-align: right !important;
}
.btn{
    border-radius: 0px;
}
.newAccount-form-buttons{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.newAccount-image-container{
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: #6d2c57;
    background-size: contain ;
     background-size: 450px 280px; 
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;

}

.newAccount-profile-image{
    margin: 10px;
    width: 200px;
    height: 200px;
    transform: scale(1) !important;
    border-radius: 50%;
}

.newAccount-form-item{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.newAccount-form-item-text{
    padding: 0px 10px; 
    text-align: right;
}

.newAccount-content-body{
    display: flex;
}

.newAccount-form-item-input{
    width: 100%;
}
.newAccount-form-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.newAccount-form-group-one{
    display: flex;
    width: 100%;
    align-items: center;
}

.newAccount-form-group-two{
    width: 100%;
}

.Form-Error{
    color: red;
    text-align: right;
}

.button-newAccount{
    background-color: #923a75;
    border: solid 2px black;
    padding: 10px;
    color: white;
    margin: 10px;
    width: auto !important;
    border:none;
    /* border-radius: 10px; */
    /* font-family: Roboto, Courier, monospace; */
    font-size: 18px;
}

.button-newAccount:hover{
    background-color: #6d2c57;
    text-decoration: none;
    color: white;
  }

@media (max-width: 767px) {
   .newAccount-form{
       padding: 5px;
   }
   .newAccount-form-group-one{
       flex-direction: column;
   }

    .button-newAccount{
        width: 100% !important;
    }
  
  }

@media (min-width: 768px) and (max-width: 991px) {

   .newAccount-form-group-one{
        flex-direction: column;
    }

    .button-newAccount{
        width: 30% !important;
    }
 
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {
 
}
