.newAccount{
    padding: 30px;
    background-color: #733f62;
    background-attachment: fixed;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newAccount-content-title{
    font-size: 30px;
}
.newAccount-content-subtitle{
    padding: 20px;
    width: 100%;
}

.newAccount-content{
    display: flex;
    padding: 20px;
    background: white; 
    min-height: 500px;
    max-height: 600px;
    min-width: 500px;
    max-width: 1000px;
    border: none;
    flex-direction: column;
}

img {
    width: 100px;
    padding: 10px;
    height: 100px;
}

.newAccount-content-icons{
    margin: auto;
}

img:hover{
    transform: scale(1.1);
    transition: transform 0.4s;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 991px) {
 
    .newAccount-content{
        width: 80%;
   }  
}

@media (min-width: 992px) and (max-width: 1199px) {
    .newAccount-content{
        width: 80%;
   }
}

@media (min-width: 1200px) {
    .newAccount-content{
        width: 80%;
   }
  
}
