.newAccount{
    padding: 50px 20px;
    background-color: #733f62;
    background-attachment: fixed;
    height: auto;
    min-height: 100vh;
    max-height: 300vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newAccount-content-title{
    font-size: 30px;
}
.newAccount-content-subtitle{
    padding: 20px;
    width: 100%;
}

.button-back{
    width: 70px;
    height: 70px;
}

.newAccount-content-paragraph{
    width: 250px;
    text-align: right;
    padding: 10px;
}
.newAccount-content-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.newAccount-content{
    display: flex;
    margin: auto;
    padding: 30px;
    background: white; 
    min-width: 500px;
    max-width: 1000px;
    flex-direction: column;
}

.new-account-img {
    width: 130px;
    margin: 0 20px 0 20px;
    padding: 10px;
    height: 130px;
}

.new-account-img-button-back {
    width: 70px;
    height: 70px;
}

.newAccount-content-social strong{
    margin-bottom: 40px;
}
.newAccount-content-social{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center
}

img:hover{
    transform: scale(1.1);
    transition: transform 0.4s;
    cursor: pointer;
}

@media (max-width: 767px) {

    .newAccount-content{
        min-width: 200px;
        display: flex;
        flex-direction: column;
   }  
}

@media (min-width: 768px) and (max-width: 991px) {
 
    .newAccount-content{
        width: 80%;
        display: flex;
        flex-direction: column;
   }  
}

@media (min-width: 992px) and (max-width: 1199px) {
    .newAccount-content{
        width: 80%;
   }
}

@media (min-width: 1200px) {
    .newAccount-content{
        width: 50%;
        display: flex;
        background-attachment: scroll;
   }
  
}
