.error-modal{
    margin-left: 10px;
}

.title-form{
    margin-left: 10px !important;
}

.loadingImg {
    position: relative;
    width: auto;
}

.inputValue {
    padding: 10px;
    width: 85%;
    margin: 10px;
}