.sidebar-button{
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0px;
    background: #733f62;
    border: none;
    text-decoration: none;
    text-align: center;
}

.profile-info{
    width: 100%;
    margin: auto;
    display: flex !important;
    flex-direction: column;
}

.profile-picture{
    width: 200px;
    border-radius: 50%;
    transform: scale(1) !important;
    cursor: auto !important;
    margin: 40px auto 0 auto;
}

.sidebar-button:hover{
    background: #c08cae;
    text-decoration: none;
}

.sidebar-title{
    margin: 0px;
    padding: 20px;
    text-align: center;
}