.sidebar-button{
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0px;
    background: #733f62;
    border: none;
    text-decoration: none;
    text-align: center;
}

.sidebar-button:hover{
    background: #c08cae;
    text-decoration: none;
}

.sidebar-title{
    margin: 0px;
    padding: 20px;
    text-align: center;
}